#!/bin/bash

set -e

CONFIGFILE=/etc/aiccu.conf
DIG=/usr/bin/dig
HOST=/usr/bin/host

BROKERS_LIST=/usr/share/aiccu/conf-templates/brokers.list

TMPCONF=$(tempfile -p aiccu -s conf)
TMPFILE=$(tempfile -p aiccu -s temp)
BROKERS=$(tempfile -p aiccu -s brokers)

trap 'rm -f $TMPCONF $TMPFILE $BROKERS' TERM INT EXIT QUIT

# Make sure that files we create are not readable by anyone but us (root)
umask 077

# Source debconf library.
. /usr/share/debconf/confmodule

if [ -e $CONFIGFILE ]; then
	USERNAME=$(grep ^username $CONFIGFILE | awk '{print $2}')
	PASSWORD=$(grep ^password $CONFIGFILE | awk '{print $2}')
	PROTO=$(grep ^protocol $CONFIGFILE | awk '{print $2}')
	SERVER=$(grep ^server $CONFIGFILE | awk '{print $2}')
	TUNNEL=$(grep ^tunnel_id $CONFIGFILE | awk '{print $2}')

	if [ "$USERNAME" != "" ]; then
		db_set aiccu/username "$USERNAME"
	fi

	if [ "$PASSWORD" != "" ]; then
		db_set aiccu/password "$PASSWORD"
	fi

	if [ "$PROTO" != "" -a "$SERVER" != "" ]; then
		db_set aiccu/brokername "$PROTO://$SERVER"
	fi

	if [ "$TUNNEL" != "" ]; then
		db_set aiccu/tunnelname "$TUNNEL"
	fi
fi

STATE=1
if [ "$DEBCONF_RECONFIGURE" = "1" -o "$1" = "reconfigure" ]; then
	STATE=1
elif [ "$TUNNEL" != "" -a "$PROTO" != "" -a "$SERVER" != "" ]; then
	# Assume that we do not need further configuration.
	STATE=4
fi

# Fetch the list of tunnel brokers
if [ -x $DIG ]; then
    $DIG _aiccu.sixxs.net TXT +short +time=5 +tries=2 |
        sed -e "s/\"$/|/" -e "s/\" \"/|/g" -e "s/\"//" -e "/^[#;]/d" | sort > $BROKERS
else
    if [ -x $HOST ]; then
        $HOST -t TXT -W 5  _aiccu.sixxs.net |                         
            sed -e "s/^_.*text //" -e "s/\"$/|/" -e "s/\" \"/|/g" -e "s/\"//" -e "/^[#;]/d" | 
            sort > $BROKERS
    else
        # Copy default
        if [ -r $BROKERS_LIST ]; then
            sed -e "/^#/d" $BROKERS_LIST > $BROKERS
        fi
    fi
fi

# Copy default if dig/host gave error
if [ ${PIPESTATUS[0]} -ne 0 -o ! -s ${BROKERS} ]; then
    if [ -r $BROKERS_LIST ]; then
        sed -e "/^#/d" $BROKERS_LIST > $BROKERS
    fi
fi

# Quit if broker list is still empty (pre-configure)
if [ ! -s ${BROKERS} ]; then
    exit 0
fi


# State What
#   1	Get Tunnel Brokername
#   2	Get User/pass
#   3	Exit

while [ $STATE -ge 1 -a $STATE -le 2 ]; do
	case "$STATE" in
	1)
		# Request broker
		BROKERS_=$(cat $BROKERS | cut -f1 -d'|' | awk '{print $0","}')
		BROKERS_=$(echo -n $BROKERS_ | sed 'N;s/\n//g' | sed 's/,$//g')
		db_get aiccu/brokername
		if [ "$RET" != "" ]; then
			SELECTED=$(grep "$RET" $BROKERS | cut -f1 -d'|')
			db_set aiccu/brokername "$SELECTED"
		fi
		db_subst aiccu/brokername brokers "$BROKERS_"
		db_input high aiccu/brokername || true
		db_go || true

		# Convert brokername to URL of broker
		db_get aiccu/brokername || true
		URL=$(grep "$RET" $BROKERS | cut -f2 -d'|')
		db_set aiccu/brokername "$URL"
		;;

	2)
		# Request User / Pass
		db_input high aiccu/username || true
		db_input high aiccu/password || true
		db_go || true
		;;
	esac

	db_go
	STATE=$(($STATE + 1))

done

rm -f $TMPCONF $TMPFILE $BROKERS
