Source: aiccu
Section: net
Priority: optional
Maintainer: Reinier Haasjes <reinier@haasjes.com>
Build-Depends: debhelper (>= 7), po-debconf, libgnutls-dev, docbook-to-man, quilt
Standards-Version: 3.9.2
Homepage: http://www.sixxs.net/tools/aiccu/
Vcs-Browser: http://github.com/rhaasjes/aiccu
Vcs-Git: git://github.com/rhaasjes/aiccu.git

Package: aiccu
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, debconf, lsb-base, ucf,
 iputils-ping [!kfreebsd-i386 !kfreebsd-amd64],
 iputils-tracepath [!kfreebsd-i386 !kfreebsd-amd64],
 iproute [!kfreebsd-i386 !kfreebsd-amd64],
 freebsd-net-tools [kfreebsd-i386 kfreebsd-amd64]
Recommends: ntpdate | ntp | time-daemon, bind9-host | dnsutils
Description: SixXS Automatic IPv6 Connectivity Client Utility
 This client configures IPv6 connectivity without having to
 manually configure interfaces etc. A SixXS account or an account
 of another supported tunnel broker and at least one tunnel are
 required. These can be freely requested from the SixXS website
 at no cost. For more information about SixXS check their homepage.

