#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.
# Adjusted by Jeroen Massar <jeroen@sixxs.net> for aiccu
# Simplified and dh-9-ified by Barak Pearlmutter, 2012

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --parallel

override_dh_clean:
	@echo Fix permissions of configuration file
	chmod a-x doc/aiccu.conf
	@echo Fix permissions of 60aiccu file
	chmod a+x debian/60aiccu	
	dh_clean

override_dh_auto_install:
	dh_auto_install
	@echo remove license as it is duplicated in debian/copyright
	rm debian/aiccu/usr/share/doc/aiccu/LICENSE
